@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "leaflet/dist/leaflet.css";

@media (min-width: 1200px) {
    .responsive-group .btn {
        border-radius: 0;
    }

    .responsive-group .btn:first-of-type {
        border-top-left-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
    }

    .responsive-group .btn:last-of-type {
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }

    .responsive-group .btn:not(:first-of-type) {
        margin-left: -1px;
    }
}
